.nn-toolbar[data-nn-type="chapter-stage"] {
	& .clickable-icon[aria-disabled="true"][data-active] {
		opacity: 1;
		background-color: var(--nn-button-background-active);
		color: var(--nn-button-color-active);
		cursor: default;
	}

	& .nn-controls {
		display: flex;
		gap: 16px;
		height: max-content;
		--icon-size: 16px;
	}

	& .nn-controls__chapter {
		display: flex;
	}

	& .nn-controls__stage {
		display: flex;
		gap: 1px;
		border-radius: var(--nn-stage-border-radius);
		box-shadow: var(--nn-stage-box-shadow)
	}

	& .nn-meta {
		display: flex;
		flex: 1 1 auto;
		align-items: center;
		overflow: hidden;
		white-space: nowrap;
		container-type: inline-size;
	}

	& .nn-meta__segment {
		white-space: nowrap; /* keep the segment together */

		&:not(:first-child)::before {
			/*content: "•";*/
			/*content: "·";*/
			content: "::";
			margin: 0 0.5rem;
			opacity: 0.5;
			color: var(--nn-meta-separator-color);
		}
	}

	& .nn-meta__segment--book,
	& .nn-meta__segment--datetime,
	& .nn-meta__segment--location {
		flex-shrink: 1; /* can shrink/disappear */
		min-width: 20px; /* allows proper shrinking */
		overflow: hidden;
		color: var(--nn-meta-text-color);
		text-overflow: ellipsis; /* truncate if too long */
		white-space: nowrap; /* keep the segment together */
	}

	& .nn-meta__segment--chapter {
		flex-shrink: 0; /* never shrink */
	}

	& .nn-meta__segment--chapter-label {
		padding: 0.125rem 0.375rem;
		border-radius: 0.25rem;
		background-color: var(--nn-meta-chapter-background);
		color: var(--nn-meta-chapter-color);
	}
}