






.nn-controls-left {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 0 1 auto; /* Don't force them to fill the screen; only grow if needed */
	flex: 0 1 45%;
	height: 24px;
	overflow: hidden;
	justify-content: flex-start;
}

.nn-controls-right {
	display: flex;
	flex-direction: row-reverse; /* Magic bit: wraps from the left side */
	flex-wrap: wrap;
	flex: 0 1 auto; /* Don't force them to fill the screen; only grow if needed */
		/* The Magic: We give it a slightly higher basis than 50%.
				 Because flex-grow is 0, it won't actually TAKE more space 
				 than it needs, but it will START wrapping its internal items 
				 sooner than the left side. */
	flex: 0 1 55%;
	height: 24px;
	overflow: hidden;
	justify-content: flex-start; /* Because direction is reversed, this is visually Right */
	padding-left: 2px;
}

.nn-controls-left, .nn-controls-right {
	flex: 0 1 auto; /* Don't force them to fill the screen; only grow if needed */
}













































.nn-book-controls-wrapper {
	.nn-controls-left {
		button:nth-child(1) {
			background-color: red;
		}
		button:nth-child(2) {
			background-color: green;
		}
		button:nth-child(3) {
			background-color: blue;
		}
	}
}